.game-container {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.dashboard-container {
padding: 10px;
}
/* Responsive container */
.matka-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.matka-img img {
  width: 100%;
  height: auto;
  display: block;
}

.game-header {
  background: #11998e;
  color: #fff;
  padding: 10px 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.back-icon {
  font-size: 18px;
  cursor: pointer;
}

.header-left h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.header-left p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.header-left span {
  display: block;
  font-size: 12px;
  margin-top: 2px;
}

.reset-btn {
  border: 1px solid #fff;
  background: transparent;
  color: white;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}